<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if current_user and current_user.admin %>
  <% if @user.locked %>
  <p>
    <%= link_to "Unlock Account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-success" %>
  </p>
  <% elsif %>
  <p>
    <%= link_to "Lock Account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  </p>
  <% end %>
<% end %>

<% if @user.ratings.empty? %>
  <p><%= @user.username %> has not yet made any ratings!</p>
<% else %>
  <p>has made <%= pluralize(@user.ratings.count,'rating','ratings') %>, average <%= "#{@user.average_rating}" %></p>
  <p>
    <strong>ratings</strong>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li><%= rating.to_s %>&nbsp;<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if @user.beer_clubs.empty? %>
  <p><%= @user.username %> has not joined any clubs</p>
<% else %>
  <p>
    <strong>memberships</strong>
    <ul>
    <% @user.beer_clubs.each do |bc| %>
      <li><%=link_to "#{bc.to_s}", bc %>&nbsp;<% if @user == current_user %>(<%= link_to 'delete', bc, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>)<% end %></li>
    <% end %>
    </ul>
  </p>
<% end %>
<% if current_user == @user %>
  <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning' %> |
<% end %>
<%= link_to 'Back', users_path, class: 'btn btn-primary' %>
