<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= Brewery.find_by(id:@beer.brewery_id).name %>
</p>

<% if @beer.ratings.empty? %>
 <p>beer has not yet been rated!</p>
<% else %>
 <p>Has <%= pluralize(@beer.ratings.count,'rating','ratings') %>, average <%= "#{@beer.average_rating}" %></p>
<% end %>

<%= link_to 'Delete', beer_path(@beer), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
<%= link_to 'List of breweies', breweries_path %>
